## Lab 02

### Zadanie 1

Dwa napisy są anagramami, jeśli jesteśmy w stanie w taki sposób poprzestawiać litery w jednym napisie, aby uzyskać drugi (nie możemy żadnej litery się pozbyć ani dodać). Przykładowo:

  * abcd i dcba są anagramami
  * aba i baa są anagramami
  * aba i ba nie są anagramami  

Zaimplementuj poniższą funkcja tak, aby sprawdzała czy dwa słowa są anagramamy w iterując po każdym słownie maksymalnie raz.

In [2]:
def check_anagram(first, second):
  return sorted(first.replace(" ", "")) == sorted(second.replace(" ", ""))

print(check_anagram("abcd", "dcba") == True)
print(check_anagram("aba", "baa") == True)
print(check_anagram("aba", "ba") == False)
print(check_anagram("tom marvolo riddle ", "i am lord voldemort") == True)

True
True
True
True

### Zadanie 2

In [3]:
def gaderypoluki(text, key):
  key = key.lower()
  text = text.lower()
  for i in range(0, len(key), 2):
    text = text.replace(key[i], key[i+1].upper())
    text = text.replace(key[i+1], key[i].upper())
  return text.lower()

print(gaderypoluki('Ala ma kota', 'GADERYPOLUKI') == 'gug mg iptg')
print(gaderypoluki('gug mg iptg', 'GADERYPOLUKI') == 'ala ma kota')

True
True

### Zadanie 3

#### Comprehensions
Zapisz każdą z poniższych 4 funkcji w postaci list/dict/set comprehension. Nie należy używać żadnych zmiennych tymczasowych ani dodatkowych linii, każda funkcja ma zostać wyrażona w postaci: <br>
```
def FUNKCJA(ARGUMENTY):
    return COMPREHENSION
```

In [4]:
def even_numbers_from_list(data):
    return [i for i in data if i % 2 == 0]

print(even_numbers_from_list([1, 2, 3, 4]) == [2, 4])
print(even_numbers_from_list(range(10)) == list(range(0, 10, 2)))
print(even_numbers_from_list(range(1000)) == list(range(0, 1000, 2)))
print(even_numbers_from_list([10, 2, 3, 4, 6, -3, -4]) == [10, 2, 4, 6, -4])

True
True
True
True

In [5]:
def words_analyze(words):
    return [(i, words[i], len(words[i])) for i in range(len(words))]

print(words_analyze(['tomek', 'jadzia']) == [(0, 'tomek', 5), (1, 'jadzia', 6)])
print(words_analyze([]) == [])

True
True

In [6]:
def count_words_starting_with_given_letter(text, letter):
    return {word: text.split().count(word) for word in text.split() if word[0] == letter}

print(count_words_starting_with_given_letter('ola ma kota o imieniu ola', 'o') == {'ola': 2, 'o': 1})
print(count_words_starting_with_given_letter('ola ma kota o imieniu ola', 'k') == {'kota': 1})
print(count_words_starting_with_given_letter('ola ma kota o imieniu ola', 'x') == {})

True
True
True

### Zadanie 4

In [9]:
def merge_dicts(a, b, f):
  return {key: f(a[key], b[key]) if key in a and key in b else a.get(key, b.get(key)) for key in set(a) | set(b)}

def add(a,b):
    return a + b

print(merge_dicts({'a': 1}, {'b': 1}, add) == {'b': 1, 'a': 1})
print(merge_dicts({'a': 1, 'b': 2}, {'b': 1}, add) == {'b': 3, 'a': 1})
print(merge_dicts({'a': 1, 'b': 2}, {'b': 1, 'c': 3, 'a': 7}, add) == {'c': 3, 'b': 3, 'a': 8})

True
True
True

### Zadanie 5

#### _Primes_ ponownie
Zaimplementuj funckje z poprzednich ćwiczeń za pomocą _set comperhension_, tak aby cała jej implementacja zmieściła się w jednej linii (jak w powyższych zadaniach)

In [13]:
from math import sqrt

def primes(N):
  return {i for i in range(2, N + 1) if all(i % j != 0 for j in range(2, int(sqrt(i)) + 1))}


print(primes(5) == {2, 3, 5})
print(primes(10) == {2, 3, 5, 7})
print(primes(100) == {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97})

True
True
True

### Zadanie 6

Wykorzystując znieżdzenia generatorów list ([https://www.python.org/dev/peps/pep-0202/](https://www.python.org/dev/peps/pep-0202/))  napisz funkcje, która
* wypisze wszystkie pary (x,y) gdzie 0 < x < n oraz 0 < y < n

In [14]:
def func1(n):
  return [(x, y) for x in range(n) for y in range(n)]

In [15]:
print(func1(3)==[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)])
print(func1(0)==[])

True
True

* wypisze tylko takie pary dla których x < y

In [ ]:
def func2(n):
  return [(x, y) for x in range(n) for y in range(n) if x < y]

In [ ]:
print(func2(3)==[(0, 1), (0, 2), (1, 2)])
print(func2(4)==[(0, 1), (0, 2), (0, 3), (1, 2), (1, 3), (2, 3)])

* wypisze tylko takie pary dla których x > y

In [16]:
def func3(n):
  return [(x, y) for x in range(n) for y in range(n) if x > y]

In [17]:
print(func3(3)==[(1, 0), (2, 0), (2, 1)])
print(func3(4)==[(1, 0), (2, 0), (2, 1), (3, 0), (3, 1), (3, 2)])

True
True

### Zadanie 7

Napisz funkcję `powerset`, która zwróci listę wszystkich podzbiorów zadanej listy przekazanej jako argument

In [18]:
def powerset(x):
  res = [[]]
  for i in x:
    for j in range(0, len(res)):
       res.append(res[j] + [i])
  return res

In [19]:
print(powerset('abc')==[[], ['a'], ['b'], ['a', 'b'], ['c'], ['a', 'c'], ['b', 'c'], ['a', 'b', 'c']])
print(powerset([1, 2, 3])==[[], [1], [2], [1, 2], [3], [1, 3], [2, 3], [1, 2, 3]])
print(powerset(['abc', 5, 6])==[[], ['abc'], [5], ['abc', 5], [6], ['abc', 6], [5, 6], ['abc', 5, 6]])

True
True
True

### Zadanie 8

Napisz funkcję primes jeszcze raz, tym razem jednak nie wolno Ci użyć pętli (`for`, `while`, etc.) i operatorów `>=`, `<=`

In [20]:
def primes_extra_b(N):
  return set(filter(is_prime, range(2, N + 1)))

def is_prime(n):
  if n < 2:
    return False
  return all(n % i != 0 for i in range(2, int(sqrt(n)) + 1))

print(primes_extra_b(5) == {2, 3, 5})
print(primes_extra_b(10) == {2, 3, 5, 7})
print(primes_extra_b(100) == {2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97})

True
True
True